<footer class="footer">
    <div class="container text-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="cc-facebook btn btn-link" rel="tooltip" data-placement="bottom" href="https://www.facebook.com/mehul.kothari.39" target="_blank">
                <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="cc-instagram btn btn-link" rel="tooltip" data-placement="bottom" href="https://www.instagram.com/mehul_kothari05/" target="_blank">
                <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://twitter.com/MehulKo18943279" target="_blank">
                <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://github.com/mehulk05" target="_blank">
                <i class="fa fa-github fa-2x " aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
</footer>