<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-brand">Punithraj M N</div>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/roaring-raaj" target="_blank" rel="noopener">LinkedIn</a>
      <a href="https://github.com/Punithraaj" target="_blank" rel="noopener">GitHub</a>
      <a href="https://www.facebook.com/roaring.raaj/" target="_blank" rel="noopener">Facebook</a>
      <a href="https://twitter.com/roaringraaj" target="_blank" rel="noopener">Twitter</a>
    </div>
  </div>
</footer>
