<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                        <div>
                            <ul>
                                <li *ngFor="let m of about1 | split">{{m}}</li>
                            </ul>
                        </div>
                        <p align="justify">{{about2}}</p>
                        <p align="justify">{{about3}}</p>
                        <p align="justify">{{about4}}</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Date of Birth:</strong>
                        </div>
                        <div class="col-sm-8">June 14, 1994</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Email:</strong>
                        </div>
                        <div class="col-sm-8">punithraaj14@gmail</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Mobile No:</strong>
                        </div>
                        <div class="col-sm-8">8088041006</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Address:</strong>
                        </div>
                        <div class="col-sm-8">#397 ashoka road vidyanagr Hassan</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Language:</strong>
                        </div>
                        <div class="col-sm-8">Kannada, English, Hindi, Telugu</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>