<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/introduction.jpg');">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <a href="#">
                        <img src="assets/images/profile.JPG" alt="Image" />
                    </a>
                </div>
                <div class="h2 title">Punithraj M N </div>
                <p class="category text-white">Full STack Developer</p>
                <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
                <a class="btn btn-primary"href="https://drive.google.com/file/d/1Bngz7t8l_RAtwVmtHjnPe6CIoFWK9AfY/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/roaring.raaj/" target="_blank" rel="tooltip" title="Follow me on Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/roaring_raaj/" target="_blank" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/roaring-raaj" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Punithraaj" target="_blank" rel="tooltip" title="Follow me on Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/roaringraaj" target="_blank" rel="tooltip" title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow me on Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
